/* App.css */

.app-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.product-list-container {
  flex: 1;
  margin-right: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.product-item {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.red-button {
  color: white;
  background-color: red;
  margin-top: 10px;
}

.cart-container {
  flex: 1;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-item {
  border: 1px solid #ccc;
  padding: 10px;
}

.total-container {
  width: 200px;
  text-align: right;
}

/* Add more styles as needed */
/*ADD*/
/* App.css (ajoutez ceci à votre fichier CSS principal) */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #333;
  color: white;
  ;
}

.navbar {
  display: flex;
  gap: 20px;
}

.cart-link{
 color: red;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.cart-icon {
  cursor: pointer;
}

.cart-sidebar {
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

